<!DOCTYPE html>
<head>
</head>
    <body>
        <h1>Inside Out</h1>
        <p>This page is defined by a template at <code>insideout/templates/insideout/homepage.html</code>. You can change it. The github repository for this project is currently at <a href="https://github.com/cproctor/insideout">https://github.com/cproctor/insideout</a>. </p>
        <h2>Routes</h2>
        <ul>
        <li><code>/</code>: Homepage.</li>
        <li><code>/people/new/&lt;name&gt;</code>: Create a new person.</li>
        <li><code>/people/&lt;pid&gt;</code>: Show a person.</li>
        <li><code>/people/&lt;pid&gt;/set/&lt;attribute&gt;/&lt;value&gt;</code>: Set a person's attribute.</li>
        <li><code>/classrooms/new/&lt;name&gt;</code>: Create a new classroom.</li>
        <li><code>/classrooms/&lt;cid&gt;</code>: Show a classroom.</li>
        <li><code>/people/&lt;pid&gt;/classroom/&lt;cid&gt;/join</code>: Add a person to a classroom. </li>
        </ul>
</body>
</html>
